.line-clamp {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
}

@keyframes pulsate-bronze {
  0% {
    box-shadow: 0 0 10px 3px rgba(205, 127, 50, 0.7);
  }

  50% {
    box-shadow: 0 0 10px 6px rgba(205, 127, 50, 0.9);
  }

  100% {
    box-shadow: 0 0 10px 3px rgba(205, 127, 50, 0.7);
  }
}

@keyframes pulsate-silver {
  0% {
    box-shadow: 0 0 10px 3px rgba(192, 192, 192, 0.7);
  }

  50% {
    box-shadow: 0 0 20px 6px rgba(192, 192, 192, 0.9);
  }

  100% {
    box-shadow: 0 0 10px 3px rgba(192, 192, 192, 0.7);
  }
}

@keyframes pulsate-gold {
  0% {
    box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.7);
  }

  50% {
    box-shadow: 0 0 20px 6px rgba(255, 215, 0, 0.9);
  }

  100% {
    box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.7);
  }
}

@keyframes pulsate-diamond {
  0% {
    box-shadow:
      0 0 20px 8px rgba(185, 242, 255, 0.9),
      0 0 40px 16px rgba(185, 242, 255, 0.7);
  }

  50% {
    box-shadow:
      0 0 30px 12px rgba(185, 242, 255, 1),
      0 0 50px 24px rgba(185, 242, 255, 0.9);
  }

  100% {
    box-shadow:
      0 0 20px 8px rgba(185, 242, 255, 0.9),
      0 0 40px 16px rgba(185, 242, 255, 0.7);
  }
}

.glow-bronze {
  animation: pulsate-bronze 3s infinite;
}

.glow-silver {
  animation: pulsate-silver 3s infinite;
}

.glow-gold {
  animation: pulsate-gold 3s infinite;
}

.glow-diamond {
  animation: pulsate-diamond 3s infinite;
}